<div class="d-flex">
    <!-- Sidebar -->
    <nav class="bg-dark text-white p-3 min-vh-100" style="width: 250px;">
        <h4 class="text-center">Menu</h4>
        <hr>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="/eventos/" class="nav-link text-white">
                    ✅ Criar Evento
                </a>
            </li>
            <li class="nav-item">
                <a href="/eventos/meuseventos" class="nav-link text-white">
                    📅 Meus Eventos Criados
                </a>
            </li>
            <li class="nav-item">
                <a href="/eventos/proximos" class="nav-link text-white">
                    ⏳ Próximos Eventos
                </a>
            </li>
            <li class="nav-item">
                <a href="#eventosPassados" class="nav-link text-white">
                    🔜 Eventos Inscritos
                </a>
        </ul>
    </nav>

    <!-- Conteúdo principal -->

        <div class="container mt-4 flex-grow-1">
        <div class="jumbotron">
            <h1 class="display-4">Bem vindo, Guizzy!</h1>
        </div>

        <div class="row">
            <div class="col-md-6" id="seusEventos">
                <h2>Eventos Inscritos:</h2>
                <div class="list-group">
                    {{#each seusEventos}}
                        <div class="list-group-item list-group-item-action border p-3 mb-2">
                            <h5>{{this.titulo}}</h5>
                            <p>{{this.descricao}}</p>
                            <a href="/eventos/{{this.id}}" class="btn btn-primary btn-sm float-right">Ver Mais</a>
                        </div>
                    {{else}}
                        <p>Nenhum evento encontrado.</p>
                    {{/each}}
                </div>
            </div>

            <div class="col-md-3" id="proximosEventos">
                <h2>Próximos Eventos:</h2>
                <div class="list-group">
                    {{#each proximosEventos}}
                        <div class="list-group-item list-group-item-action border p-3 mb-2">
                            <h5>{{this.titulo}}</h5>
                            <p>{{this.descricao}}</p>
                            <p><strong>Data:</strong> {{formatarData this.data "DD/MM/YYYY"}}</p>
                            <p><strong>Inscritos:</strong> {{this.inscritos.length}}/{{this.capacidade}}</p>
                            <p><strong>Preço:</strong> {{#if preco}}{{formatarMoeda preco}}{{else}}Gratuito{{/if}}</p>
                            <p>Criado por: {{this.criador.nomeDeUsuario}}</p>
                            <form action="/eventos/inscrever/{{this._id}}" method="POST">
                                    <input type="hidden" name="eventoId" value="{{this._id}}">
                                {{#if estaInscrito}}
                                    <button class="btn btn-warning unsubscribe-event" data-id="{{this._id}}">Desinscrever</button>
                                {{else}}
                                    <button type="submit" class="btn btn-success btn-sm">Inscrever</button>
                                {{/if}}
                            </form>
                            <a href="/eventos/{{this.id}}" class="btn btn-primary btn-sm float-right mt-2">Ver Mais</a> <br>
                        </div>
                    {{else}}
                        <p>Nenhum evento encontrado.</p>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="footer bg-dark text-white py-1 sticky-bottom">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <p>Desenvolvido por <a class="text-white" href="https://github.com/guilhermecolares" target="_blank" rel="noopener noreferrer">Guilherme Colares</a> &copy; 2025</p>
            </div>
        </div>
    </div>
</footer>
